.binline
{
    display:inline;
    margin-right:10px;
}
.react-bootstrap-table
{
    overflow: auto;
    
}
.react-bootstrap-table th
{
    width:120px;   
   
}
.i .form-group label
{
    padding:10px;
    min-width: 150px;
    text-align: left;
}
.i .form-group
{
    max-width: 600px;
}
.resetbtn
{
    margin-right: 20px;
    margin-left: 20px;
}